/* style.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2874f0;
    padding: 10px 20px;
    color: white;
}

.header h3 {
    margin: 0;
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header ul li {
    margin-left: 20px;
    cursor: pointer;
}

.header ul li:hover {
    text-decoration: underline;
}
.border{
    border: 2px solid;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    width: 30%;
    height: 50%;
}
.button{
    margin-left: 100px;
    height: 30px;
    width: 100px;
}
input{
    height: 35px;
    width: 350px;
}